@model List<Ibrahim_Belal.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight: bold; text-align: center; font-size: 47px; margin: 21px;">Services List</h1>

<a href='@Url.Action("New", "Service")'>
    <button type="button" class="btn btn-primary" style="margin: 10px; font-size: 20px; font-weight: bold;">Add</button>
</a>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
        
    @foreach (var service in Model)
    {
        <tr>
            <td>@service.Title</td>
            <td>@service.Description</td>
            <td>
                <a href='@Url.Action("Edit", "Service", new {id = service.Id})'>
                    <button type="button" class="btn btn-success" style="font-size: 14px;">Edit</button>
                </a>
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = service.Id},
                    new { @class = "btn btn-danger" , onclick = "return confirm('Are you Sure You Want To Delete It ?');"})
            </td>
        </tr>
    }
    
    </tbody>
</table>
